<!DOCTYPE html>
	<html lang="zxx" class="no-js">
	<head th:replace="fragments :: head_fragment(pageTitle = 'Blog')"/>
	<body>
	<!--	header-->
	<header th:replace="fragments :: header_fragment"/>
	<!-- #header -->

	<!-- start banner Area -->
	<section th:replace="fragments :: banner_fragment(title = 'Blog', link = 'blog', button = null)"/>
	<!-- End banner Area -->

	<!-- Start post-content Area -->
	<section class="post-content-area">
		<div class="container pt-5">
			<div class="row">
				<div class="col-lg-8 posts-list">
					<div th:if="${postari.size() == 0}" style="margin-top:5rem;">
						<h2 class="m-5 centered"><span>Nicio postare!</span></h2>
					</div>
					<div th:if="${postari.size() != 0}" th:each="postare : ${postari}" class="single-post row">
						<div class="col-lg-3  col-md-3 meta-details">
							<ul class="tags">
								<li><span th:text="${postare.categorie.titlu}"></span></li>
							</ul>
							<div class="user-details row">
								<p class="user-name col-lg-12 col-md-12 col-6"><span th:text="${postare.user.username}"></span> <span class="lnr lnr-user"></span></p>
								<p class="date col-lg-12 col-md-12 col-6"><span th:text="${#temporals.format(postare.createdOn, 'dd-MMM-yyyy')}"></span> <span class="lnr lnr-calendar-full"></span></p>
								<p class="comments col-lg-12 col-md-12 col-6"><span>6 Comments</span> <span class="lnr lnr-bubble"></span></p>
							</div>
						</div>
						<div class="col-lg-9 col-md-9 ">
							<div class="feature-img">
								<img id="coperta" class="img-fluid" th:src="@{/blog/getBlogPhoto/{id}(id=${postare.id})}" onerror="this.src='/img/blog/defaultBlog.jpg';" alt="Photo">
							</div>
							<a class="posts-title" href="blog-single.html"><h3 th:text="${postare.titlu}"></h3></a>
							<p class="excert" th:text="${postare.descriere}"></p>
							<a th:href="@{/blog}" class="primary-btn">Citește</a>
						</div>
					</div>
<!--					Paginare-->
					<nav class="blog-pagination justify-content-center d-flex">
						<ul class="pagination">
							<li class="page-item">
								<a href="#" class="page-link" aria-label="Previous">
									<span aria-hidden="true">
										<span class="lnr lnr-chevron-left"></span>
									</span>
								</a>
							</li>
							<li class="page-item"><a href="#" class="page-link">01</a></li>
							<li class="page-item active"><a href="#" class="page-link">02</a></li>
							<li class="page-item"><a href="#" class="page-link">03</a></li>
							<li class="page-item"><a href="#" class="page-link">04</a></li>
							<li class="page-item"><a href="#" class="page-link">09</a></li>
							<li class="page-item">
								<a href="#" class="page-link" aria-label="Next">
									<span aria-hidden="true">
										<span class="lnr lnr-chevron-right"></span>
									</span>
								</a>
							</li>
						</ul>
					</nav>
				</div>

				<footer th:replace="fragments :: blog_sidebar_fragment"/>
			</div>
		</div>
	</section>
	<!-- End post-content Area -->

	<!-- start footer Area -->
	<footer th:replace="fragments :: footer_fragment"/>
	<!-- End footer Area -->

	<script type="text/javascript" th:src="@{/js/vendor/jquery-2.2.4.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/main.js}"></script>
	<script type="text/javascript" th:src="@{/js/vendor/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery-ui.js}"></script>
	<script type="text/javascript" th:src="@{/js/easing.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/hoverIntent.js}"></script>
	<script type="text/javascript" th:src="@{/js/superfish.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery.ajaxchimp.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery.magnific-popup.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery.nice-select.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/owl.carousel.min.js}"></script>
	</body>
</html>