<!DOCTYPE html>
	<html lang="zxx" class="no-js">
	<head th:replace="fragments :: head_fragment(pageTitle = 'Blog')"/>
	<body>
	<!--	header-->
	<header th:replace="fragments :: header_fragment"/>
	<!-- #header -->

	<!-- start banner Area -->
	<section th:replace="fragments :: banner_fragment(title = 'Blog', link = 'blog', button = ${access})"/>
	<!-- End banner Area -->

	<!-- Start post-content Area -->
	<section class="post-content-area">
		<div class="container pt-5">
			<div class="row">
				<div class="col-lg-8 posts-list">
					<p th:if="${param.success}" class="alert alert-success">Postare adăugată cu success!</p>
					<div style="margin-top:5rem;">
						<h2 th:if="${postari.totalElements == 0}" class="m-5 centered"><span>Nicio postare!</span></h2>
					</div>

					<div th:if="${postari.totalElements != 0}" th:each="postare : ${postari.content}" class="single-post row">
						<div class="col-lg-3  col-md-3 meta-details">
							<ul class="tags">
								<li><span th:text="${postare.categorie.titlu}"></span></li>
							</ul>
							<div class="user-details row">
								<p class="user-name col-lg-12 col-md-12 col-6"><span th:text="${postare.user.username}"></span> <span class="lnr lnr-user"></span></p>
								<p class="date col-lg-12 col-md-12 col-6"><span th:text="${#temporals.format(postare.createdOn, 'dd-MMM-yyyy')}"></span> <span class="lnr lnr-calendar-full"></span></p>
								<p class="comments col-lg-12 col-md-12 col-6"><span>6 Comments</span> <span class="lnr lnr-bubble"></span></p>
							</div>
						</div>
						<div class="col-lg-9 col-md-9 ">
							<div class="feature-img">
								<img id="coperta" class="img-fluid" th:src="@{/blog/getBlogPhoto/{id}(id=${postare.id})}" onerror="this.src='/img/blog/defaultBlog.jpg';" alt="Photo">
							</div>
							<a class="posts-title" href="blog-single.html"><h3 th:text="${postare.titlu}"></h3></a>
							<p class="excert" th:text="${postare.descriere}"></p>
							<a th:href="@{/blog}" class="primary-btn">Citește</a>
						</div>
					</div>

<!--					Paginare-->
					<nav th:if="${categorieSearch} != true" class="blog-pagination justify-content-center d-flex">
						<ul class="pagination">
							<li class="page-item" th:if="${currentPage gt 1}" th:class="${currentPage == 1} ? disabled : ''">
								<a class="page-link" th:href="@{${currentPage > 1} ? '/blog?page=' + ${currentPage - 1} : '/blog?page=1'}" aria-label="Anterioară">
									 <span aria-hidden="true">
										 <span class="lnr lnr-chevron-left"></span>
									 </span>
								</a>
							</li>
							<li class="page-item" th:each="i : ${#numbers.sequence(1, postari.totalPages)}">
								<a class="page-link" th:href="@{${i} != ${currentPage} ? '/blog?page=' + ${i} : null}" th:text="${i}"
								   th:classappend="${i == currentPage} ? 'active'"></a>
							</li>
							<li class="page-item" th:if="${currentPage lt postari.totalPages}" th:class="${currentPage == postari.totalPages} ? disabled : ''">
								<a class="page-link"  th:href="@{${currentPage < postari.totalPages} ? '/blog?page=' + ${currentPage + 1} : '/blog?page=' + ${postari.totalPages}}" aria-label="Următoarea">
									<span aria-hidden="true">
		                                        <span class="lnr lnr-chevron-right"></span>
									</span>
								</a>
							</li>
						</ul>
					</nav>

					<nav th:if="${categorieSearch} == true" class="blog-pagination justify-content-center d-flex">
						<ul class="pagination">
							<li class="page-item" th:if="${currentPage gt 1}" th:class="${currentPage == 1} ? disabled : ''">
								<a class="page-link" th:href="@{${currentPage > 1} ? '/blog/categorie/'+${categorieTitlu}+'?page=' + ${currentPage - 1} : '/blog/categorie/'+${categorieTitlu}+'?page=1'}" aria-label="Anterioară">
									 <span aria-hidden="true">
										 <span class="lnr lnr-chevron-left"></span>
									 </span>
								</a>
							</li>
							<li class="page-item" th:each="i : ${#numbers.sequence(1, postari.totalPages)}">
								<a class="page-link" th:href="@{${i} != ${currentPage} ? '/blog/categorie/'+${categorieTitlu}+'?page=' + ${i} : null}" th:text="${i}"
								   th:classappend="${i == currentPage} ? 'active'"></a>
							</li>
							<li class="page-item" th:if="${currentPage lt postari.totalPages}" th:class="${currentPage == postari.totalPages} ? disabled : ''">
								<a class="page-link"  th:href="@{${currentPage < postari.totalPages} ? '/blog/categorie/'+${categorieTitlu}+'?page=' + ${currentPage + 1} : '/blog/categorie/'+${categorieTitlu}+'?page=' + ${postari.totalPages}}" aria-label="Următoarea">
									<span aria-hidden="true">
		                                        <span class="lnr lnr-chevron-right"></span>
									</span>
								</a>
							</li>
						</ul>
					</nav>
				</div>

				<footer th:replace="fragments :: blog_sidebar_fragment"/>
			</div>
		</div>
	</section>
	<!-- End post-content Area -->

	<!-- start footer Area -->
	<footer th:replace="fragments :: footer_fragment"/>
	<!-- End footer Area -->
	<script type="text/javascript" th:src="@{/js/vendor/jquery-2.2.4.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/main.js}"></script>
	<script type="text/javascript" th:src="@{/js/vendor/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery-ui.js}"></script>
	<script type="text/javascript" th:src="@{/js/easing.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/hoverIntent.js}"></script>
	<script type="text/javascript" th:src="@{/js/superfish.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery.ajaxchimp.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery.magnific-popup.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery.nice-select.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/owl.carousel.min.js}"></script>
	</body>
</html>