	<!DOCTYPE html>
	<html lang="en" class="no-js" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
	<!--	head-->
	<head th:replace="~{fragments :: head_fragment(pageTitle = 'HikeIT', link = '')}"/>
	<!--	end head-->
	<body>
	<!--	header-->
	<header th:replace="~{fragments :: header_fragment}"/>

	<!-- start banner Area -->
	<section class="banner-area relative">
		<div class="overlay overlay-bg"></div>
		<div class="container">
			<div class="row fullscreen align-items-center justify-content-between">
				<div class="col-lg-6 col-md-6 banner-left">
					<h6 class="text-white">Departe de gălăgia și aglomerația orașelor</h6>
					<h1 class="text-white">TRASEE PENTRU TOATĂ LUMEA</h1>
					<p class="text-white">
						Dacă vrei să începi să faci drumeții sau dacă ești deja experimentat, aici vei găsi informațiile de care ai nevoie.
					</p>
					<a th:href="@{/trasee}" class="primary-btn text-uppercase">DESCOPERĂ</a>
				</div>
			</div>
		</div>
	</section>
	<!-- End banner Area -->

		<!-- Start about-info Area -->
		<section class="about-info-area section-gap">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-6 info-left">
						<img class="img-fluid" th:src="@{/img/acasa/drumetieEu.jpg}" alt="Drumetie" >
					</div>
					<div class="col-lg-6 info-right">
						<h6>Despre noi</h6>
						<h1>Cine și de ce?</h1>
						<p>
							Ideea acestui site vine din pasiunea personală pentru drumețiile montane pe teritoriul Carpațiilor României îmbinată cu pasiunea pentru domeniul IT și cunoștințele acumulate pe parcursul facultații si a experienței personale până în acest moment. Sper ca informațiile găsite aici sa fie de ajutor și să înglobeze mult mai ușor tot ce am stâns eu din multe surse.
						</p>
					</div>
				</div>
			</div>
		</section>
		<!-- End about-info Area -->

		<!-- Start price Area -->
		<section class="price-area section-gap">
			<div class="container">
				<div class="row d-flex justify-content-center">
					<div class="menu-content pb-70 col-lg-8">
						<div class="title text-center">
							<h1 class="mb-10">Acoperire totală</h1>
							<p>Aici puteți găsi trasee indiferent de zona țării în care vă aflați.</p>
						</div>
					</div>
				</div>
				<div class="row d-flex justify-content-center">
					<img class="img-fluid" th:src="@{/img/acasa/hartaRomaniei.jpg}" width="760px" height="500px" alt="Harta Romaniei">
				</div>
			</div>
		</section>
		<!-- End price Area -->


		<!-- Start other-issue Area -->
		<section class="other-issue-area section-gap">
			<div class="container">
				<div class="row d-flex justify-content-center">
					<div class="menu-content pb-70 col-lg-9">
						<div class="title text-center">
							<h1 class="mb-10">Ce trebuie sa stii despre trasee?</h1>
							<p>Informații utile de care trebuie să ții cont înainte să alegi un traseu.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-3 col-md-6">
						<div class="single-other-issue">
							<div class="thumb">
								<img class="img-fluid" th:src="@{/img/acasa/difficulty.png}" alt="">
							</div>
							<h4>Dificultate</h4>
							<p>
								Dificultatea comparată cu nivelul dumneavoastră de experiență.
							</p>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="single-other-issue">
							<div class="thumb">
								<img class="img-fluid" th:src="@{/img/acasa/clepsidra.png}" alt="Time">
							</div>
							<h4>Durată</h4>
							<p>
								Durata ținând cont de anotimp și de numărul de ore de lumină din zi.
							</p>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="single-other-issue">
							<div class="thumb">
								<img class="img-fluid" th:src="@{/img/acasa/echipament.png}" alt="Echipament">
							</div>
							<h4>Echipament</h4>
							<p>
								Echipamentul sportiv necesare pentru caracteristicile traseului.
							</p>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="single-other-issue">
							<div class="thumb">
								<img class="img-fluid" th:src="@{/img/acasa/levels.jpg}" alt="Nivele">
							</div>
							<h4>Diferența de nivel</h4>
							<p>
								Diferența de altitudine dintre punctul de plecare și punctul de sosire.
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End other-issue Area -->

		<!-- Start blog Area -->
		<section class="recent-blog-area section-gap">
			<div class="container">
				<div class="row d-flex justify-content-center">
					<div class="menu-content pb-60 col-lg-9">
						<div class="title text-center">
							<h1 class="mb-10">Grupele Muntoase din Romania</h1>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="active-recent-blog-carusel">
						<div th:each="grupa : ${grupe}" class="single-recent-blog-post item">
							<div class="thumb">
								<img th:src="@{/grupaMuntoasa/getImage/{id}(id=${grupa.id})}" width="200px" height="300px" th:alt="Poza">
							</div>
							<h4 class="title" th:text="${grupa.titlu}"></h4>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End recent-blog Area -->

		<!-- Start home-about Area -->
		<section class="home-about-area">
			<div class="container-fluid">
				<div class="row align-items-center justify-content-end">
					<div class="col-lg-6 col-md-12 home-about-left">
						<h1>
							Nu ai găsit ce te interesa? <br>
							Întreabă-ne! <br>
						</h1>
						<p>
							În cazul în care îți este neclară orice informație despre un traseu, ai nevoie de ceva în plus, ai sugestii de noi postări pentru blog, vrei să devii unul din bloggerii nostri sau vrei sa ne dai feedback pentru site, ne poți contacta.
						</p>
						<a th:href="@{/contact}" class="primary-btn text-uppercase">Vreau o informatie</a>
					</div>
					<div class="col-lg-6 col-md-12 home-about-right no-padding">
						<img class="img-fluid" th:src="@{/img/acasa/baleaLake.jpg}" alt="">
					</div>
				</div>
			</div>
		</section>
		<!-- End home-about Area -->

		<!-- start footer Area -->
		<footer th:replace="~{fragments :: footer_fragment}"/>
		<!-- End footer Area -->

		<script type="text/javascript" th:src="@{/js/vendor/jquery-2.2.4.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/main.js}"></script>
		<script type="text/javascript" th:src="@{/js/vendor/bootstrap.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/jquery-ui.js}"></script>
		<script type="text/javascript" th:src="@{/js/easing.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/hoverIntent.js}"></script>
		<script type="text/javascript" th:src="@{/js/superfish.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/jquery.ajaxchimp.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/jquery.magnific-popup.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/jquery.nice-select.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/owl.carousel.min.js}"></script>
	</body>
	</html>