  <!DOCTYPE html>
  <html lang="zxx" class="no-js" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragments :: head_fragment(pageTitle = 'Login')}"/>
  <body>
  <header th:replace="~{fragments :: header_fragment}"/>

  <!-- start banner Area -->
  <section th:replace="~{fragments :: banner_fragment(title = 'Login', link = 'login', button = null)}"/>
  <!-- End banner Area -->

  <section class="sample-text-area">
  <div class="contents order-2 order-md-1">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-6">
          <p th:if="${param.success}" class="alert alert-success">Te-ai înregistrat cu success! Acum poți intra în cont.</p>
          <p th:if="${param.error}" class="alert alert-danger">Username sau parolă incorecte.</p>
          <p th:if="${param.logout}" class="alert alert-success">Te-ai delogat cu success.</p>
          <p th:if="${param.changePass}" class="alert alert-success">Parola a fost actualizată cu succes!</p>
          <p th:if="${param.changeEmail}" class="alert alert-success">Informații actualizate cu succes!</p>
          <p th:if="${message!= null}" class="alert alert-success">[[${message}]]</p>
          <div class="form-block">
            <form th:action="@{/login}" method="post">
              <div class="form-group first">
                <label for="username">Username</label>
                <input type="text" placeholder="Username" onfocus="this.placeholder = ''" onblur="this.placeholder = 'email@gmail.com'"
                       id="username" name = "username" required class="single-input">
              </div>

              <div class="form-group last mb-3">
                <label for="password">Parola</label>
                <input type="password" placeholder="Parola"
                       id="password" name="password" required class="single-input">
              </div>

              <div class="d-sm-flex mb-5 align-items-center">
                <label class="control control--checkbox mb-3 mb-sm-0"><span class="caption">Păstrază-mă autentificat</span>
                  <input type="checkbox" name="remember-me"/>
                  <div class="control__indicator"></div>
                </label>
                <span class="ml-auto"><a th:href="@{/parolaUitata}" class="forgot-pass">Parolă uitată</a></span>
              </div>
              <button type="submit" value="Login" class="genric-btn primary circle" style="width: 100%">LOGIN</button>
              </br>
              <p class="text-center">Nu ai un cont încă? <a th:href="@{/register}">Înregistrează-te acum!</a></p>

              <div class="or-container"><div class="line-separator"></div> <div class="or-label">or</div><div class="line-separator"></div></div>

              <div class="row">
                <div class="col-md-12">
                  <a class="btn btn-google btn-block btn-outline-light" th:href="@{/oauth2/authorization/google}" referrerpolicy="no-referrer-when-downgrade"><img src="https://img.icons8.com/color/16/000000/google-logo.png"> Conectează-te cu Google</a>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>

  <!-- start footer Area -->
  <footer th:replace="~{fragments :: footer_fragment}"/>
  <!-- End footer Area -->

  <script type="text/javascript" th:src="@{/js/vendor/jquery-2.2.4.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/main.js}"></script>
  <script type="text/javascript" th:src="@{/js/vendor/bootstrap.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/jquery-ui.js}"></script>
  <script type="text/javascript" th:src="@{/js/easing.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/hoverIntent.js}"></script>
  <script type="text/javascript" th:src="@{/js/superfish.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/jquery.ajaxchimp.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/jquery.magnific-popup.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/jquery.nice-select.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/owl.carousel.min.js}"></script>
  <script src="https://accounts.google.com/gsi/client" async defer></script>
  </body>
</html>