<!DOCTYPE html>
<html lang="zxx" class="no-js" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: head_fragment(pageTitle = 'Marcaj nou')"></head>
<body>
<!--  header-->
<header th:replace="fragments :: header_fragment"/>
<!-- #header -->
<!-- start banner Area -->
<section th:replace="fragments :: banner_fragment(title = 'Adaugă marcaj', link = 'marcaje/adauga', button = null)"/>

<section class="sample-text-area">
    <div class="contents order-2 order-md-1">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-6">
                    <div class="form-block">
                        <form th:action="@{/marcaje/adauga}" th:object="${marcaj}" method="post" enctype="multipart/form-data">
                            <div class="form-group" style="text-align: center;">
                                <img id= "thumbnail" class="img-fluid" style="width: 100px; height: 100px;" th:src="@{/img/blog/defaultCover.png}">
                                <br/>
                                <br/>
                                <input id="marcaj" name="marcaj" type="file" accept="image/png, image/jpeg">
                                <p th:if="${#fields.hasErrors('marcaj')}" class="text-danger">Poza nu a putut fi încărcată corect. Încercați din nou cu o nouă fotografie.</p>
                            </div>
                            <div class="form-group first">
                                <input type="text" placeholder="Titlul marcajului..."
                                       id="titlu" name = "titlu" required class="single-input">
                            </div>
                            <p th:if="${#fields.hasErrors('titlu')}" th:errors="*{titlu}" class="text-danger"></p>
                            <button type="submit" value="Trimite" class="genric-btn primary circle" style="width: 100%">Adaugă</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer th:replace="fragments :: footer_fragment"/>

<script type="text/javascript" th:src="@{/js/vendor/jquery-2.2.4.min.js}"></script>
<script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
<script type="text/javascript" th:src="@{/js/vendor/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-ui.js}"></script>
<script type="text/javascript" th:src="@{/js/easing.min.js}"></script>
<script type="text/javascript" th:src="@{/js/hoverIntent.js}"></script>
<script type="text/javascript" th:src="@{/js/superfish.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.ajaxchimp.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.magnific-popup.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.nice-select.min.js}"></script>
<script type="text/javascript" th:src="@{/js/owl.carousel.min.js}"></script>
<script type="text/javascript">
    $(document).ready(function (){
        $('#marcaj').change(function (){
            showImageThumbnail(this);
        })
    });
    function showImageThumbnail(fileInput){
        file = fileInput.files[0];
        reader = new FileReader();

        reader.onload = function (e){
            $('#thumbnail').attr('src', e.target.result);
        };
        reader.readAsDataURL(file);
    }
</script>
</body>
</html>