  <!DOCTYPE html>
  <html lang="zxx" class="no-js" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments :: head_fragment(pageTitle = 'Parolă uitată')"/>
  <body>
  <!--  header-->
  <header th:replace="fragments :: header_fragment"/>
  <!-- #header -->

  <!-- start banner Area -->
  <section th:replace="fragments :: banner_fragment(title = 'Parolă uitată', link = 'parolaUitata')"/>
  <!-- End banner Area -->

  <section class="sample-text-area">
  <div class="contents order-2 order-md-1">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-6">
          <div class="form-block">
            <form th:action="@{/parolaUitata}" method="post">
              <div>
                <p>Va fi trimis un link de resetarea a parolei pe adresa de email introdusă.</p>
              </div>
              <div class="form-group first">
                <input type="text" placeholder="Introdu emailul aferent contului.."
                       id="email" name = "email" required class="single-input" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
              </div>
              <p th:if="${error != null}" class="alert alert-danger">[[${error}]]</p>
              <p th:if="${message != null}" class="alert alert-success">[[${message}]]</p>
              <button type="submit" value="Trimite" class="genric-btn primary circle" style="width: 100%">Trimite</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>

  <!-- start footer Area -->
  <footer th:replace="fragments :: footer_fragment"/>
  <!-- End footer Area -->

  <script type="text/javascript" th:src="@{/js/vendor/jquery-2.2.4.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/main.js}"></script>
  <script type="text/javascript" th:src="@{/js/vendor/bootstrap.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/jquery-ui.js}"></script>
  <script type="text/javascript" th:src="@{/js/easing.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/hoverIntent.js}"></script>
  <script type="text/javascript" th:src="@{/js/superfish.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/jquery.ajaxchimp.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/jquery.magnific-popup.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/jquery.nice-select.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/owl.carousel.min.js}"></script>
  <script src="https://accounts.google.com/gsi/client" async defer></script>
  </body>
</html>