<!DOCTYPE html>
    <html lang="zxx" class="no-js" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments :: head_fragment(pageTitle = 'Profilul meu')"/>
    <body>
    <!--  header-->
    <header th:replace="fragments :: header_fragment"/>
    <!-- #header -->
    <!-- start banner Area -->
    <section th:replace="fragments :: banner_fragment(title = 'Profilul meu', link = 'profil')"/>
    <!-- End banner Area -->

    <!-- start footer Area -->
    <footer th:replace="fragments :: footer_fragment"/>
    <!-- End footer Area -->
    </body>
</html>