<!DOCTYPE html>
<html lang="zxx" class="no-js" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:insert="fragments :: head_fragment(pageTitle = 'Profilul meu')">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/sidebar.css}">
</head>
<body>
    <!--  header-->
    <header th:replace="fragments :: header_fragment"/>
    <!-- #header -->
    <!-- start banner Area -->
    <section th:replace="fragments :: banner_fragment(title = 'Profilul meu', link = 'user/profil', button = null)"/>
    <!-- End banner Area -->
    <section class="section-bg">
        <div class="custom-menu">
            <button type="button" id="sidebarCollapse" class="btn btn-primary">
                <i class="fa fa-bars"></i>
            </button>
        </div>
        <div class="row">
        <div class="col-md-2 d-flex align-items-lg-stretch">
            <nav id="sidebar">
                <ul class="list-unstyled components mb-5">
                    <li>
                        <a th:href="@{/user/profil}"><span class="fa fa-user mr-3"></span> Informații personale</a>
                    </li>
                    <li>
                        <a th:href="@{/user/securitate}"><span class="fa fa-lock mr-3"></span> Securitate</a>
                    </li>
                    <li>
                        <a th:href="@{/user/statistici}"><span class="fa fa-bar-chart mr-3"></span> Statisticile mele</a>
                    </li>
                    <li>
                        <a th:href="@{/user/termeni}"><span class="fa fa-sticky-note mr-3"></span> Termeni și condiții</a>
                    </li>
                </ul>
            </nav>
        </div>


        <div th:if="${informatii!= null}" class="form-group col-md-8 d-flex justify-content-center pt-10 pb-20">
            <form th:if="${informatii!= null}" method="post" th:action="@{/user/profil}" th:object="${user}" enctype="multipart/form-data" style="width: 30rem;">
                <p th:if="${error!= null}" class="alert alert-danger">[[${error}]]</p>
                <input type="hidden" th:field="*{id}">
                <input type="hidden" th:field="*{parola}">
                <input type="hidden" th:field="*{roles}">
                <input type="hidden" th:field="*{authProvider}">
                <input type="hidden" th:field="*{newsletter}">
                <input type="hidden" th:field="*{resetParolaToken}">
                <input type="hidden" th:field="*{createdOn}">
                <p th:if="${param.success}" class="alert alert-success">Modificările au fost efectuate cu success!</p>
                <div th:switch="*{authProvider.name}" class="form-group" style="text-align: center;">
                    <img id = "thumbnail" th:case="'GOOGLE'" th:src="*{pozaGoogle}" onerror="this.src='/img/user.png';"  class="rounded-circle">
                    <img id = "thumbnail" th:case="'LOCAL'" th:src="@{/user/getProfilePhoto/{username}(username=${user.username})}"  onerror="this.src='/img/user.png';" class="rounded-circle" style="width: 90px; height: 80px;">
                    </br>
                    <input th:if="${user.authProvider.name} == 'LOCAL'" id="pozaProfil" name="pozaProfil" type="file" accept="image/png, image/jpeg">
                </div>
                <p th:if="${#fields.hasErrors('pozaProfil')}" class="text-danger">Poza de profil nu a putut fi încărcată corect. Încercați din nou cu o nouă fotografie.</p>

                <div th:switch="*{authProvider.name}" class="form-group first">
                    <label for="nume">Nume*</label>
                    <input th:case="'GOOGLE'" readonly  th:field="*{nume}" type="text" name="nume" id="nume" placeholder="Popescu" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Popescu'" class="single-input">
                    <input th:case="'LOCAL'" th:field="*{nume}" type="text" name="nume" id="nume" placeholder="Popescu" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Popescu'" class="single-input">
                    <p th:if="${#fields.hasErrors('nume')}" th:errors="*{nume}" class="text-danger">Numele introdus nu este valid.</p>
                </div>

                <div th:switch="*{authProvider.name}" class="form-group first">
                    <label for="prenume">Prenume*</label>
                    <input th:case="'GOOGLE'" readonly  th:field="*{prenume}" type="text" name="prenume" id = "prenume" placeholder="Andrei" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Andrei'" class="single-input">
                    <input th:case="'LOCAL'" th:field="*{prenume}" type="text" name="prenume" id = "prenume" placeholder="Andrei" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Andrei'" class="single-input">
                    <p th:if="${#fields.hasErrors('prenume')}" th:errors="*{prenume}" class="text-danger">Prenumele introdus nu este valid.</p>
                </div>

                <div th:switch="*{authProvider.name}" class="form-group first">
                    <label for="username">Username*</label>
                    <input th:case="'GOOGLE'" readonly th:field="*{username}" type="text"  placeholder="andrei1234" onfocus="this.placeholder = ''" onblur="this.placeholder = 'andrei1234'" id="username" class="single-input">
                    <input th:case="'LOCAL'" th:field="*{username}" type="text"  placeholder="andrei1234" onfocus="this.placeholder = ''" onblur="this.placeholder = 'andrei1234'" id="username" class="single-input">
                    <p th:if="${#fields.hasErrors('username')}" class="text-danger" th:errors="*{username}">Numele de utilizator introdus nu este valid.</p>
                </div>

                <div th:switch="*{authProvider.name}" class="form-group first">
                    <label for="email">Email*</label>
                    <input th:case="'GOOGLE'" readonly th:field="*{email}" type="email" name="Email" id = "email" placeholder="andrei@gmail.com" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email address'" class="single-input">
                    <input th:case="'LOCAL'" th:field="*{email}" type="email" name="Email" id = "email" placeholder="andrei@gmail.com" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email address'" class="single-input">
                    <p th:if="${#fields.hasErrors('email')}" class="text-danger" th:errors="*{email}">Email-ul introdus nu este valid.</p>
                </div>

                <div class="form-group last mb-3">
                    <label for="data_nastere">Data nastere</label>
                    <input th:field="*{dataNastere}" type="date" id = "data_nastere" placeholder="dd/MM/yyyy" class="single-input">
                    <p th:if="${#fields.hasErrors('dataNastere')}" th:errors="*{dataNastere}"  class="text-danger">Data de naștere introdusă nu este validă.</p>
                </div>

                <div class="form-group last mb-3">
                    <label for="sex">Sex*</label>
                    <div class="default-select">
                        <select th:field="*{sex}" name="sex" id="sex">
                            <option value="">--Alegeți--</option>
                            <option th:value="'F'">F</option>
                            <option th:value="'M'">M</option>
                            <option th:value="'N'">Prefer să nu spun</option>
                        </select>
                    </div>
                    <p th:if="${#fields.hasErrors('sex')}" th:errors="*{sex}" class="text-danger"></p>
                </div>
                <button type="submit" value="Edit" class="genric-btn primary circle" style="width: 100%">SALVEAZĂ MODIFICĂRILE</button>
            </form>
        </div>


        <div th:if="${securitate!= null}" class="col-md-8 d-flex justify-content-center align-items-center pt-10 pb-20">
            <div  class="d-flex flex-column align-items-center">
                <form th:switch="${#authentication.getPrincipal().getProvider()}" th:object="${user}" th:action="@{/user/schimbaParola}" method="post" style="width: 30rem;">
                    <p th:if="${error!= null}" class="alert alert-danger">[[${error}]]</p>
                    <span style="font-size: 1rem; color: #0b0b0b;">Schimbare parolă</span>
                    <div class="line-separator"></div>
                    <br/>
                    <div th:case="'LOCAL'">
                        <div class="form-group last mb-3">
                            <label for="parola">Parola actuală*</label>
                            <input type="password" id = "parola" name="parola" placeholder="Parola veche..." required class="single-input" minlength="4">
                            <div class="invalid-feedback">Parola trebuie să aibă minim 8 caractere.</div>
                        </div>
                        <div class="form-group last mb-3">
                            <label for="parolaNoua">Parola nouă*</label>
                            <input type="password" id = "parolaNoua" name="parolaNoua" placeholder="Parola nouă..." required class="single-input" minlength="4">
                            <div class="invalid-feedback">Parola trebuie să aibă minim 8 caractere.</div>
                        </div>
                        <div class="form-group last mb-3">
                            <label for="confParola">Confirmare parolă*</label>
                            <input type="password" id = "confParola" name="confParola" placeholder="Confirmare parola..." required class="single-input" minlength="4"
                                   oninput="checkPasswordMatch(this);">
                            <div class="invalid-feedback">Parola trebuie să aibă minim 8 caractere.</div>
                        </div>
                        <button type="submit" value="Schimbă parola" class="genric-btn primary circle" style="width: 100%">Schimbă parola</button>
                    </div>
                    <p th:case="'GOOGLE'">Acest cont aparține unui cont Google. Parola nu poate fi schimbată.</p>
                </form>
                <br/><br/>
                <form th:action="@{/user/sterge}" method="get" style="width: 30rem;">
                    <span style="font-size: 1rem; color: #0b0b0b;">Ștergerea contului</span>
                    <div class="line-separator"></div>
                    <br/>
                    <p>Odată șters contul, acesta nu mai poate fi adus înapoi, iar toate datele aferente acestuia vor fi șterse.</p>
                    <button type="submit" value="Sterge cont" class="genric-btn danger circle" style="width: 100%">Șterge contul</button>
                </form>
            </div>
        </div>


        <div th:if="${statistici!= null}" class="form-group col-md-8 d-flex justify-content-center pt-10 pb-20">
            <form th:object="${user}" th:action="@{/user/statistici}" method="get" style="width: 30rem;">
                <div class="form-group last mb-3">
                    <img th:src="@{/img/statistici/membrudin.png}" style="height: 13rem; width: 17rem;">
                    <span style="color:black;">Membru din:  </span><span th:text="${#temporals.format(user.createdOn, 'dd-MMM-yyyy')}" style="color: #0c5460; font-weight: bold;"></span>
                </div>
                <div class="form-group last mb-3">
                    <span style="color:black;">Trasee parcurse:  </span>  <span style="color: #0c5460; font-weight: bold;">0</span>
                    <img th:src="@{/img/statistici/traseeRealizate.png}" style="height: 14rem; width: 18rem;">
                </div>
                <div class="form-group last mb-3">
                    <img th:src="@{/img/statistici/traseeAdaugate.png}" style="height: 13em; width: 16rem;">
                    <span style="color:black;">  Trasee adăugate: </span>  <span style="color: #0c5460; font-weight: bold;">0</span>
                </div>
                <div class="form-group last mb-3">
                    <span style="color:black;">Comentarii adăugate:  </span>  <span th:text="${commentCount} " style="color: #0c5460; font-weight: bold;"></span>
                    <img th:src="@{/img/statistici/comentariiAdaugate.png}" style="height: 13em; width: 16rem;">
                </div>
                <div th:if="${access == true}" class="form-group last mb-3">
                    <img th:src="@{/img/statistici/blogPost.png}" style="height: 13em; width: 16rem;">
                    <span style="color:black;">  Postări pe blog: </span> <span style="color: #0c5460; font-weight: bold;" th:text="${postCount} "></span>
                </div>
            </form>
        </div>


        <div th:if="${termeni!= null}" class="col-md-9 d-flex justify-content-center pt-10 pb-20 pl-4" >
            <p>Va recomandam sa cititi integral prezentii Termeni inainte de a decide daca ii acceptati si continuati procesul de inregistrare. <br/>

                Daca nu sunteti de acord cu oricare dintre prevederile termenilor in cadrul HikeIT, va rugăm să nu accesati, navigati sau utilizati aplicatia, si nici software-ul, serviciile, informatiile, materialele sau alte asemenea cuprinse in aplicatie. <br/>

                Dacă în orice moment după inregistrarea in aplicatia HikeIT decideți că nu mai sunteti de acord cu prezentii Termeni, va rugam sa dezinstalati aplicatia. <br/> Totodata, daca nu mai sunteti de acord cu utilizarea datelor dumneavoastra cu caracter personal de catre operatorul HikeIT SRL, ca urmare a folosirii aplicatiei, aveti posibilitatea sa stergeti contul si sa va exercitati drepturile prevazute de Regulamentul 679/2016 privind protectia persoanelor fizice in ceea ce priveste prelucrarea datelor cu caracter personal si privind libera circulatie a acestor date. <br/>


                Termenii si conditiile de utilizare a aplicaţiei HikeIT, aşa cum sunt prezentaţi în prezentul document, sunt şi vor fi guvernaţi şi interpretaţi în conformitate cu legea română. <br/> Termenii stabilesc modul in care puteti utiliza aplicatia HikeIT. <br/>

                Prin inregistrarea in aplicatie confirmati ca aveti 18 ani impliniti si ca nu v-a fost interzis dreptul de a utiliza un serviciu de genul celui oferit de HikeIT. <br/>

                1. Ce este HikeIT?  <br/>

                HikeIT este o aplicatie informatica securizata, accesibila prin intermediul unui device cu conexiune la Internet, unde utilizatorii pot consulta traseele montane din Romania. <br/>

                2. Inregistrarea si identificarea utilizatorului  <br/>

                Pentru inregistrarea in aplicatia HikeIT este necesar ca utilizatorul sa ofere urmatoarele informatii obligatorii: nume, prenume, numarul de telefon, adresa de e-mail. <br/> Inregistrarea datelor unui card bancar valabil este optionala. <br/>

                3.  Autentificarea utilizatorului pentru accesarea si utilizarea HikeIT <br/>

                Aplicatia retine datele de autentificare aferente contului dumneavoastra. <br/> In acest sens, sunteți de acord și înțelegeți că dumneavoastrasunteți responsabil(ă) pentru păstrarea confidențialității datelor de conectare asociate utilizarii de catre dumneavoastra a HikeIT și pentru luarea tuturor măsurilor rezonabile pentru a păstra confidențialitatea acestor informații. <br/>

                Dacă utilizați aplicatia HikeIT avand un cont de tip Family sau Corporate, dumneavoastra sunteți de acord că toți angajații, membrii de familie și toate celelalte persoane carora le-ati furnizat datele de conectare vor fi autorizate sa acceseze aplicati si sa acceseze serviciile de transport prin intermediul aplicatiei. <br/>

                Va obligati sa notificați HikeIT imediat, fără întârzieri nejustificate, atunci când sesizați utilizarea neautorizată a datelor dumneavoastra de conectare. <br/> De asemenea, sunteți de acord să notificați HikeIT imediat, fără întârzieri nejustificate, în același mod cu privire la orice altă încălcare a securității în legătură cu aplicatia despre care aveți cunoștință. <br/>

                HikeIT poate suspenda utilizarea datelor de conectare sau a Contului dumneavoastra în cazurile în care suspectează compromiterea securității acestora sau existența unei utilizări neautorizate sau frauduloase. <br/> HikeIT vă va informa în prealabil sau, dacă acest lucru nu este posibil, imediat după suspendarea utilizării datelor dumneavoastra de conectare sau a Contului, specificând motivele suspendării, cu excepția cazului în care furnizarea acestor informații ar putea compromite măsurile rezonabile de securitate sau ar contraveni legii. <br/> HikeIT va reactiva Datele de conectare sau Contul dumneavoastraori vă va pune la dispoziție date de conectare noi sau un Cont nou, în cel mai scurt timp posibil după eliminarea motivelor care au determinat suspendarea inițială. <br/>

                4. Declarații și garanții <br/>

                La momentul înregistrării în vederea utilizării HikeIT declarați şi garantați următoarele: <br/>

                 că aveți dreptul, autoritatea şi capacitatea deplină de exercițiu în vederea accesării şi utilizării aplicaţiei; <br/>

                 ca nu comunicati datele de conectare parola unei terte persoane, cu exceptia persoanelor autorizate in Contul Corporate sau Family, intrucat prin divulgarea acesteia va expuneti riscului de utilizare a contului si serviciilor de catre alte persoane. <br/> Sunteti exclusiv responsabil pentru mentinerea confidentialitatii si pastrarea in siguranta a datelor introduse in aplicatia HikeIT. <br/> Mai mult, sunteti responsabil pentru activitatile de orice natura ce au loc in contul dumneavoastra. <br/>

                 va obligati sa ne anuntati imediat de orice utilizare neautorizata a contului dumneavoastra sau de orice incalcare a securitatii contului de care deveniti constient sau pe care in mod rezonabil ar trebui sa o suspectati. <br/> Cu toate acestea, indiferent de aceasta notificare, nu vom raspunde pentru pierderile pe care ati putea sa le suportati ca urmare a utilizarii neautorizate a contului dmneavoastra ( indiferent daca o astfel de utilizare se produce cu sau fara cunostinta dumneavoastra)

                ca nu veti falsifica sau oferi informatii eronate despre identitatea sau intentiile dumneavoastra in legatura cu orice ar avea legatura cu aplicatia

                 ca nu veti transmite, distribui sau oferi orice informatii sau materiale care sunt in tot sau in parte ilegale, false, frauduloase sau inadecvate, ofensatoare sau care incalca ordinea publica si bunele moravuri

                 ca nu veti incalca orice drept prevazut prin lege, drepturi de proprietate, drepturi intangibile, dreptul privind confidentialitatea sau datele cu caracter personal ale altora; <br/>

                 ca nu veti utiliza continutul aplicatiei pentru a revinde, distribui sau folosi serviciile oferite

                 nu veti distribui ofertele din aplicatia HikeIT

                5. Încetarea sau modificarea HikeIT <br/>

                Incetarea utilizarii HikeIT de catre Utilizator poate interveni in urmatoarele situatii: <br/>

                a) la initiativa utilizatorului, prin dezinstalarea aplicatiei de pe dispozitivul dumneavoastra. <br/>

                b)din initiativa HikeIT, daca se constata ca utilizatorul nu respecta regulile unei conduite adecvate sau prevederile Termenilor si Conditiilor, care ar putea aduce prejudicii de orice natura companiei; <br/> <br/>

                6. Proprietatea intelectuala <br/>

                Utilizatorul declara in mod expres ca a luat la cunostinta de faptul ca toata creatia grafica, continutul aplicatiei si materialele accesate sunt proprietatea HikeIT. <br/> Fac exceptie informatiile, elementele grafice apartinand altor entitati, care sunt proprietatea partenerilor. Utilizatorul accepta ca orice software folosit in legatura cu serviciile oferite in aplicatie contine informatii confidentiale si aflate sub drept de proprietate, fiind protejate de legile privind dreptul de proprietate intelectuala, industriala si alte legi aplicabile. <br/>

                Utilizatorul se obliga sa nu reproduca, sa nu copieze,sa nu vanda sau sa exploateze serviciile, informatiile si/sau materialele audio-video la care are acces ca urmare a utilizarii acestei aplicatii, in parte sau complet. <br/> <br/> Utilizatorului ii este interzisa modificarea, copierea, inchirierea, cedarea, imprumutul, vanzarea, distributia sau crearea unor materiale derivate bazate pe serviciile sauprogramele folosite in cadrul aplicatiei. <br/>

                7. Prelucrarea datelor cu caracter personal <br/>

                Prezentele Termeni si Conditii se completeaza cu Politica de Confidentialitate HikeIT aflata pe site-ul www. <br/>leonego. <br/>ro si in cadrul Aplicatiei la sectiunea „Politica de Confidentialitate”. <br/> Recomandăm Utilizatorului a consulta si propria politică de confidențialitate a prestatorilor de servicii de transport. <br/>

                8. Pentru ce nu suntem responsabili <br/>

                Vă daţi acceptul că aplicaţia nu va fi livrată fără erori sau în mod continuu, că unele imperfecţiuni nu vor fi corectate la momentul apariţiei lor. <br/> Utilizatorul aplicaţiei este singurul responsabil pentru utilizarea aplicaţiei. <br/>

                De asemenea, Utilizatorii vor raspunde pentru orice daune, directe sau indirecte, aduse HikeIT cu intentie sau din culpa (neglijenta sau imprudenta) utilizatorului sau persoanelor pentru care acesta raspunde, inclusiv Utilizator titular al Contului, sau ca urmare a folosirii frauduloase a aplicatiei HikeIT. <br/>

                Utilizatorul a fost informat si accepta faptul ca HikeIT nu pot fi facuta raspunzatoare, in niciun caz, pentru daunele, directe sau indirecte, cauzate Utilizatorului de nefunctionarea sau functionarea necorespunzatoare a aplicatiei HikeIT. <br/>

                9. Legea aplicabilă <br/>

                În cazul apariţiei unui conflict/neînţelegeri legată de utilizarea aplicaţiei, vom încerca soluţionarea conflictului respectiv pe cale amiabilă, negocierile în acest sens fiind guvernate de bună credinţă. <br/> Toate disputele vor fi soluţionate în instanţele competente din Bucuresti, cu excepţia cazurilor în care legislaţia în vigoare specifică o altă jurisdicţie exclusiva pentru dumneavoastră. <br/>

                10. Asistenţă <br/>

                Dacă aveţi orice problemălegata de functionarea HikeIT, ne puteţi contacta la adresa de email hikeit@gmail. <br/>com. <br/>
            </p>
        </div>
        </div>
    </section>


    <!-- start footer Area -->
    <footer th:replace="fragments :: footer_fragment"/>
    <!-- End footer Area -->
    <script type="text/javascript" th:src="@{/js/vendor/jquery-2.2.4.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
    <script type="text/javascript" th:src="@{/js/vendor/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-ui.js}"></script>
    <script type="text/javascript" th:src="@{/js/easing.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/hoverIntent.js}"></script>
    <script type="text/javascript" th:src="@{/js/superfish.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.ajaxchimp.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.magnific-popup.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.nice-select.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/owl.carousel.min.js}"></script>
    <script type="text/javascript">
        $(document).ready(function (){
            $('#pozaProfil').change(function (){
                showImageThumbnail(this);
            })
            $("#thumbnail").on("error", function(){
                $(this).attr('src', './img/user.png');
            });
        });
        function showImageThumbnail(fileInput){
            file = fileInput.files[0];
            reader = new FileReader();

            reader.onload = function (e){
                $('#thumbnail').attr('src', e.target.result);
            };
            reader.readAsDataURL(file);
        }
        function checkPasswordMatch(fieldConfirmPassword){
            if (fieldConfirmPassword.value != $("#parolaNoua").val()){
                fieldConfirmPassword.setCustomValidity("Parolele nu corespund!");
            }
            else{
                fieldConfirmPassword.setCustomValidity("");
            }
        }
    </script>
    </body>
</html>