<!DOCTYPE html>
<html lang="en" class="no-js" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: head_fragment(pageTitle = 'Trasee')"/>
<body>
<header th:replace="fragments :: header_fragment"/>

<section sec:authorize="isAuthenticated()" th:replace="fragments :: banner_fragment(title = 'Trasee', link = 'trasee', button = 'Adaugă traseu')"/>
<section sec:authorize="isAnonymous()" th:replace="fragments :: banner_fragment(title = 'Trasee', link = 'trasee', button = null)"/>

<!-- Start Trasee Area -->
<section class="destinations-area section-gap">
    <div class="container">
        <p th:if="${param.adaugaSuccess}" class="alert alert-success">Traseu adăugat cu succes!</p>
        <p th:if="${param.stergeSuccess}" class="alert alert-success">Traseu șters cu succes!</p>
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-40 col-lg-12">
                <div class="title text-center">
                    <h2 class="mb-10">Caută ce ți se potrivește</h2>
                    <form method="get" th:action="@{/trasee}" th:object="${trasee}" enctype="multipart/form-data">
<!--                    LISTA CU FILTRE-->
                    <div class="row justify-content-center mt-4" th:if="${paginaPrincipala}">
                        <div class="col-md-12">
                            <div class="row align-items-center">
                                <div class="col-md-3 input-group mb-3">
                                    <input name="titlu" id="titlu" type="text" class="form-control" th:placeholder="${titlu}" placeholder="Caută după nume...">
                                    <button class="btn btn-outline-secondary" type="button" ><i class="fa fa-search"></i></button>
                                </div>
                                <div class="col-md-3 mb-3 default-select">
                                    <select class="nice-select" name="grupaMuntoasa">
                                        <option value="" selected>Grupa Muntoasă</option>
                                        <option th:each="grupa : ${grupeMuntoase}" th:value="${grupa.getId()}" th:text="${grupa.getTitlu()}" th:selected="${grupa.getId() == grupaMuntoasaId}"></option>
                                    </select>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="distanta" class="form-label">Distanță maximă(km):</label>
                                    <input type="range" id="distanta" name="distanta" class="form-range" min="0" max="50" step="1" th:value="${distanta}" value="0" oninput="updateDistantaLabel(this)">
                                    <span id="distanta-label" th:text="${distanta} + 'km'"></span>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="durata" class="form-label">Durată maximă(ore):</label>
                                    <input type="range" class="form-range" id="durata" name="durata" min="0" max="15" step="1" value="0" th:value="${durata}" oninput="updateDurataLabel(this)">
                                    <span id="durata-label" th:text="${durata} + 'ore'">0 ore</span>
                                </div>
                            </div>
                            <div class="row align-items-center">
                                <div class="col-sm-3 mb-3">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownAnotimp" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Sezoane
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownAnotimp">
                                            <div class="form-check" th:each="sezon : ${T(com.hike.models.Sezon).values()}">
                                                <input class="form-check-input" type="checkbox" name="sezon" th:id="${sezon.displayName()}" th:value="${sezon.name()}" th:checked="${sezonList != null and sezonList.contains(sezon)}" />
                                                <label class="form-check-label" th:for="${sezon}" th:text="${sezon.displayName()}"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 mb-3">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownDificultate" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Dificultate
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownDificultate" style="background: #f8b600;">
                                            <div class="form-check" th:each="dificultate : ${T(com.hike.models.Dificultate).values()}">
                                                <input class="form-check-input" type="checkbox" name="dificultate" th:id="${dificultate.displayName()}" th:value="${dificultate.name()}" th:checked="${dificultateList != null and dificultateList.contains(dificultate)}" />
                                                <label class="form-check-label" th:for="${dificultate}" th:text="${dificultate.displayName()}"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <button type="submit" class="genric-btn primary circle arrow m-3">Filtrează <span class="lnr lnr-arrow-right"></span></button>
                                <a th:href="@{/trasee}" class="genric-btn primary-border circle arrow">Sterge filtre <span class="lnr lnr-arrow-right"></span></a>
                            </div>

                        </div>
                    </div>
                    </form>
<!--                    -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
                </div>
            </div>
        </div>
        <div class="row">
            <div style="margin-top:5rem;">
                <h2 th:if="${trasee.totalElements == 0}" class="m-5 centered"><span>Niciun traseu!</span></h2>
            </div>
            <div class="col-lg-4" th:if="${trasee.totalElements != 0}" th:each="traseu : ${trasee.content}">
                <div class="single-destinations">
                    <div class="thumb">
                        <img th:src="@{'/trasee/getTraseuPhotos/' + ${traseu.id} +'/0'}" onerror="this.src='/img/trasee/addFormCover.jpg';" style="height: 15em;" alt="">
                    </div>
                    <div class="details">
                        <h4 class="d-flex justify-content-between">
                            <span th:text="${traseu.titlu}"></span>
                            <div>
                                <img class="img-fluid" th:src="@{'/marcaje/getMarcajPhoto/' + ${traseu.marcaj.id}}" style="height: 30px; width: 30px;" th:alt="${traseu.marcaj.titlu}">
                            </div>
                        </h4>
                        <p th:text="${nrComentarii[traseu.id]}+' Comentarii'"></p>
                        <ul class="package-list">
                            <li class="d-flex justify-content-between align-items-center">
                                <span>Dificultate</span>
                                <span th:text="${traseu.dificultate.displayName()}"></span>
                            </li>
                            <li class="d-flex justify-content-between align-items-center">
                                <span>Durată</span>
                                <span th:text="${traseu.durataMinima} + '-' + ${traseu.durataMaxima}"></span>
                            </li>
                            <li class="d-flex justify-content-between align-items-center">
                                <span>Distanță</span>
                                <span th:text="${traseu.distanta} + 'km'"></span>
                            </li>
                            <li class="d-flex justify-content-between align-items-center">
                                <span class="text-info font-weight-bold" th:if="${aprobare}" th:text="${traseu.aprobat} ? 'APROBAT' : 'ÎN AȘTEPTARE'" ></span>
                                <span th:if="${aprobare} != true"></span>
                                <a th:href="@{'/trasee/'+ ${traseu.id}}" class="price-btn">Vezi mai multe</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--					Paginare-->
        <nav class="blog-pagination justify-content-center d-flex">
            <ul class="pagination">
                <li class="page-item" th:if="${currentPage gt 1}" th:class="${currentPage == 1} ? disabled : ''">
                    <a class="page-link" th:href="@{${currentPage > 1} ? ${link} +'?page=' + ${currentPage - 1} : ${link}+'?page=1'}" aria-label="Anterioară">
									 <span aria-hidden="true">
										 <span class="lnr lnr-chevron-left"></span>
									 </span>
                    </a>
                </li>
                <li th:if="${trasee.totalPages > 0}" class="page-item" th:each="i : ${#numbers.sequence(1, trasee.totalPages)}">
                    <a class="page-link" th:href="@{${i} != ${currentPage} ? ${link}+'?page=' + ${i} : null}" th:text="${i}"
                       th:classappend="${i == currentPage} ? 'active'"></a>
                </li>
                <li class="page-item" th:if="${currentPage lt trasee.totalPages}" th:class="${currentPage == trasee.totalPages} ? disabled : ''">
                    <a class="page-link"  th:href="@{${currentPage < trasee.totalPages} ? ${link}+'?page=' + ${currentPage + 1} : ${link}+'?page=' + ${trasee.totalPages}}" aria-label="Următoarea">
									<span aria-hidden="true">
		                                        <span class="lnr lnr-chevron-right"></span>
									</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</section>
<!-- End destinations Area -->

<!-- start footer Area -->
<footer th:replace="fragments :: footer_fragment"/>
<!-- End footer Area -->

<script type="text/javascript" th:src="@{/js/vendor/jquery-2.2.4.min.js}"></script>
<script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
<script type="text/javascript" th:src="@{/js/vendor/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-ui.js}"></script>
<script type="text/javascript" th:src="@{/js/easing.min.js}"></script>
<script type="text/javascript" th:src="@{/js/hoverIntent.js}"></script>
<script type="text/javascript" th:src="@{/js/superfish.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.ajaxchimp.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.magnific-popup.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.nice-select.min.js}"></script>
<script type="text/javascript" th:src="@{/js/owl.carousel.min.js}"></script>

</body>
</html><script>
    function updateDurataLabel(input) {
        document.getElementById("durata-label").innerHTML = input.value + "ore";
    }
    function updateDistantaLabel(input) {
        document.getElementById("distanta-label").innerHTML = input.value + "km";
    }
</script>