<!DOCTYPE html>
<html lang="en" class="no-js" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments :: head_fragment(pageTitle = 'Adăugare traseu')"/>
<body>
<header th:replace="fragments :: header_fragment"/>

<section th:replace="fragments :: banner_fragment(title = 'Adăugare traseu', link = 'trasee/adauga', button = null)"/>

<section class="sample-text-area">
    <div class="contents order-2 order-md-1">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <p class="text-info">Atenție! După trimiterea formularului corespunzător traseului, acesta va fi verificat și analizat de unul din administratorii paginii. Administratorul va aproba traseul pentru a fi vizualizat de toti utilizatorii paginii sau va șterge propunerea de traseu în funcție de informațiile regăsite. Decizia va fi comunicată prin email însoțită de un feedback când este cazul. Mulțumim pentru contribuție!</p>
                <div class="col-md-8">
                    <div class="form-block">
                        <form id="traseuForm" method="post" th:action="@{/trasee/adauga}" th:object="${traseu}" enctype="multipart/form-data">
                            <div class="form-group" style="text-align: center;">
                                <img id= "thumbnail" class="img-fluid" style="width: 500px; height: 300px; border-radius: 30px;" th:src="@{/img/trasee/addFormCover.jpg}">
                                <br/>
                                <br/>
                                <input id="pozeTraseu" name="pozeTraseu" type="file" multiple accept="image/png, image/jpeg">
                            </div>
                            <p th:if="${#fields.hasErrors('pozeTraseu')}" class="text-danger">Pozele nu au putut fi încărcate corect. Încercați din nou.</p>

                            <div class="form-group first">
                                <label for="titlu">Titlu sugestiv pentru traseu tău(poate fi compus din destinația de plecare și punctul de sosire sau dintr-un nume consacrat)*</label>
                                <input th:field="*{titlu}" type="text" name="titlu" id="titlu" placeholder="Adaugă titlu..." class="single-input">
                                <p th:if="${#fields.hasErrors('titlu')}" th:errors="*{titlu}" class="text-danger"></p>
                            </div>

                            <div class="form-group first">
                                <label for="plecare">Punct plecare*</label>
                                <input th:field="*{punctPlecare}" type="text" name="plecare" id="plecare" placeholder="Adaugă un punct de reper pentru plecarea pe traseu..." class="single-input">
                                <p th:if="${#fields.hasErrors('punctPlecare')}" th:errors="*{punctPlecare}" class="text-danger"></p>
                            </div>

                            <div class="form-group first">
                                <label for="sosire">Punct sosire*</label>
                                <input th:field="*{punctSosire}" type="text" name="sosire" id="sosire" placeholder="Adaugă un punct de reper pentru incheierea traseului..." class="single-input">
                                <p th:if="${#fields.hasErrors('punctSosire')}" th:errors="*{punctSosire}" class="text-danger"></p>
                            </div>

                            <div class="form-group first">
                                <label for="durataMinima">Durata minimă de parcurs a traseului sau durata pentru cei experimentați, în ore. (ex: 1:30h)*</label>
                                <input th:field="*{durataMinima}" type="text" name="durataMinima" id="durataMinima" placeholder="Adaugă durata minima a traseului..." class="single-input">
                                <p th:if="${#fields.hasErrors('durataMinima')}" th:errors="*{durataMinima}" class="text-danger"></p>
                            </div>

                            <div class="form-group first">
                                <label for="durata">Durata maximă de parcurs a traseului, pentru o condiție fizică mai puțin bună sau din cauza unor condiții de vreme nefavorabile, în ore. (ex: 4:15h)*</label>
                                <input th:field="*{durataMaxima}" type="text" name="durataMaxima" id="durataMaxima" placeholder="Adaugă durata maxima a traseului..." class="single-input">
                                <p th:if="${#fields.hasErrors('durataMaxima')}" th:errors="*{durataMaxima}" class="text-danger"></p>
                            </div>

                            <div class="form-group first">
                                <label for="distanta">Distanța de parcurs a traseului în km.*</label>
                                <input th:field="*{distanta}" type="number" min="0" max="100" name="distanta" id="distanta" placeholder="Adaugă distanta traseului..." class="single-input">
                                <p th:if="${#fields.hasErrors('distanta')}" th:errors="*{distanta}" class="text-danger"></p>
                            </div>

                            <div class="form-group first">
                                <label for="urcare">Diferența de nivel în urcare(în metri)*</label>
                                <input th:field="*{urcare}" type="number" min="0" name="urcare" id="urcare" placeholder="Adaugă urcarea..." class="single-input">
                                <p th:if="${#fields.hasErrors('urcare')}" th:errors="*{urcare}" class="text-danger"></p>
                            </div>

                            <div class="form-group first">
                                <label for="coborare">Diferența de nivel în coborâre(în metri)*</label>
                                <input th:field="*{coborare}" type="number" min="0" name="urcare" id="coborare" placeholder="Adaugă coborarea..." class="single-input">
                                <p th:if="${#fields.hasErrors('coborare')}" th:errors="*{coborare}" class="text-danger"></p>
                            </div>

                            <div class="form-group first">
                                <label for="descriere">Descriere, cu cât mai multe detalii importante despre traseu*</label>
                                <textarea th:field="*{descriere}" type="text" name="descriere" id = "descriere" placeholder="Adaugă descrierea traseului.." class="common-textarea form-control"></textarea>
                                <p th:if="${#fields.hasErrors('descriere')}" th:errors="*{descriere}" class="text-danger"/>
                            </div>

                            <div class="form-group last mb-3">
                                <label for="marcaj">Marcajul care semnalizează traseul*</label>
                                <div class="default-select">
                                    <select class="nice-select open" id="marcaj" name="marcaj" th:field="*{marcajId}">
                                        <option value="">Selectează un marcaj</option>
                                        <option th:each="marcaj : ${marcaje}"
                                                th:value="${marcaj.id}"
                                                th:text="${marcaj.titlu}">
<!--                                            <img class="img-fluid" th:src="@{'/marcaje/getMarcajPhoto/' + ${marcaj.id}}" style="height: 30px; width: 30px;" th:alt="${marcaj.titlu}">-->
                                        </option>
                                    </select>
                                </div>
                                <p th:if="${#fields.hasErrors('marcajId')}" th:errors="*{marcajId}" class="text-danger"></p>
                            </div>

                            <div class="form-group last mb-3">
                                <label for="grupaMuntoasa">Grupa din care fac parte munții în care se desfășoară traseul*</label>
                                <div class="default-select">
                                    <select class="nice-select open" id="grupaMuntoasa" name="grupaMuntoasa" th:field="*{grupaMuntoasaId}">
                                        <option value="">Selectează o grupă</option>
                                        <option th:each="grupa : ${grupeMuntoase}"
                                                th:value="${grupa.id}"
                                                th:text="${grupa.titlu}">
                                        </option>
                                    </select>
                                </div>
                                <p th:if="${#fields.hasErrors('grupaMuntoasaId')}" th:errors="*{grupaMuntoasaId}" class="text-danger"></p>
                            </div>

                            <div class="form-group last mb-3">
                                <label for="dificultate">Dificultate: </label>
                                <div class="default-select">
                                    <select class="nice-select open" id="dificultate" name="dificultate" th:field="*{dificultate}">
                                        <option
                                                th:each="dificultateOpt:${T(com.hike.models.Dificultate).values()}"
                                                th:value="${dificultateOpt.name()}" th:text="${dificultateOpt.displayName()}">
                                        </option>
                                    </select>
                                </div>
                                <p th:if="${#fields.hasErrors('dificultate')}" th:errors="*{dificultate}" class="text-danger"></p>
                            </div>

                            <div class="form-group last mb-3">
                                <label for="sezon">Sezon: </label>
                                <div class="default-select">
                                    <select class="nice-select open" id="sezon" name="category" th:field="*{sezon}">
                                        <option
                                                th:each="sezonOpt:${T(com.hike.models.Sezon).values()}"
                                                th:value="${sezonOpt.name()}" th:text="${sezonOpt.displayName()}">
                                        </option>
                                    </select>
                                </div>
                                <p th:if="${#fields.hasErrors('sezon')}" th:errors="*{sezon}" class="text-danger"></p>
                            </div>

                            <button type = "submit" class="genric-btn primary circle" style="width: 100%">ADAUGĂ</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- start footer Area -->
<footer th:replace="fragments :: footer_fragment"/>
<!-- End footer Area -->

<script type="text/javascript" th:src="@{/js/vendor/jquery-2.2.4.min.js}"></script>
<script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
<script type="text/javascript" th:src="@{/js/vendor/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-ui.js}"></script>
<script type="text/javascript" th:src="@{/js/easing.min.js}"></script>
<script type="text/javascript" th:src="@{/js/hoverIntent.js}"></script>
<script type="text/javascript" th:src="@{/js/superfish.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.ajaxchimp.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.magnific-popup.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.nice-select.min.js}"></script>
<script type="text/javascript" th:src="@{/js/owl.carousel.min.js}"></script>

</body>
</html>